---
import { Image } from "astro:assets";
import profileImage from "../images/profile-pic.png";
---

<section>
    <div class="card">
        <h2>Über mich</h2>
        <h3>Ich bin Gaby Annas, ausgebildete Katzenpsychologin</h3>
        <p>
            Schon als Kind war ich sehr tierlieb. 1991 kam die erste Katze über
            Nacht in mein Leben, Mautzi. Er schlich sich sofort in mein Herz
            und lebte bei mir bis er 2006 starb. 2008 zog Heinzi bei uns ein.
            Er starb allerdings mit zwei Jahren viel zu früh an FIP.
            2015 habe ich eine Ausbildung zur Katzenpsychologin bei der
            Paracelsus-Schule in Berlin erfolgreich absolviert. Außerdem bilde
            ich mich ständig durch Bücher, Fachzeitschriften und Beiträge im
            Fernsehen weiter und ich habe an einem Erste Hilfe Kurs für Katzen
            in der Tierarztpraxis Lenk teilgenommen.
        </p>
        <figure>
            <Image src={profileImage} alt="Gaby Annas (Ich)" />
        </figure>
    </div>
</section>

<style lang="scss">
    .card {
        img {
            display: block;
        }
    }

    figure {
        padding-top: 10px;
        max-width: 270px;
        border-radius: 50px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(
                circle at 0% 100%,
                var(--gradient)
            );
            border-top-right-radius: 90%;
            z-index: -1;
        }
    }
</style>