---
import { Image } from "astro:assets";
import catImage from "../images/cat-diva.png";
import IconCard from "./common/IconCard.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<section>
    <h2>Ich biete</h2>
    <h3>Flexible Betreuung</h3>
    <p>
        Gern besuche ich Ihre Katzen und versorge sie je nach
        persönlicher Abstimmung.
    </p>
    <div class="cards">
        <IconCard title="Auf Reise" iconName="solar:water-sun-broken">
            Egal, ob Sie nur einen Wochenendtrip oder einen längeren Urlaub unternehmen wollen.
        </IconCard>
        <IconCard title="Bei Notfall" iconName="solar:medical-kit-broken">
            Wenn Sie zur Kur fahren oder ins Krankenhaus müssen, unterstütze ich Sie gern.
        </IconCard>
    </div>
</section>
<figure>
    <Image src={catImage} alt="Katze Diva"/>
    <figcaption>
        Diva, 2019
    </figcaption>
</figure>
<section>
    <h3>Katzensitting ist Vertrauenssache</h3>
    <p>
        Katzen lieben ihre gewohnte Umgebung, sie mögen keine Veränderungen.
        Eine Unterbringung in einer Tierpension bzw. bei Freunden kann
        unnötigen Stress für das Tier bedeuten.
        Gern lerne ich Sie und Ihr/e Kätzchen vorab kostenlos und unverbindlich
        kennen.
    </p>
</section>
<video width="1280" height="720" autoplay muted loop>
    <source src=`${baseUrl}/cat-background-1.mp4` type="video/mp4">
</video>

<style lang="scss">
    figure {
        max-width: 700px;
        margin-right: 1rem;
        position: relative;
        perspective: 1000px;

        img {
            max-width: 100%;
            object-fit: cover;
            object-position: 100%;
        }

        figcaption {
            position: absolute;
            bottom: 7%;
            right: 1.5rem;
            transform: scale(1, 5) rotateX(85deg) rotateZ(-3deg);
            font-size: 1.8rem;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(
                circle at 0% 100%,
                var(--gradient)
            );
            border-radius: 50px;
            transform: translate(-5%, 15%) scale(1, 5) rotateX(85deg) rotateZ(-3deg);
            z-index: -1;
        }
    }

    .cards {
        display: grid;
        gap: 1rem;
        margin-bottom: -1rem;
    }

    video {
        display: block;
        width: 100%;
        height: auto;
        min-width: 600px;
        max-width: var(--content-max-width);
        margin: auto;
        mix-blend-mode: multiply;
        mask-image: linear-gradient(to top, black 80%, transparent);
    }
</style>